services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: 3000
      NEXT_PUBLIC_DISABLE_ARTICLES: '1'
      NEXT_PUBLIC_DISABLE_FEEDBACK_EMAIL: '1'
      NEXT_TELEMETRY_DISABLED: '1'
      # APP_PUBLIC_HOST: wiki.example.com
      # DEPLOYMENT_ENVIRONMENT: production
    restart: unless-stopped
